<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />

       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>

       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>


 <%= got_posts %>
 <%= render @user.posts %>

 <%= got_comments %>
 <%= render @user.comments %>

 <%= got_favorites %>

 <% @user.favorites.each do |fav| %>
    <% fav_post = Post.find(fav.post_id) %>
    <% fav_topic = Topic.find(fav_post.topic_id) %>
    <% fav_user = User.find(fav_post.user_id) %>
   <div class="media">

     <%= render partial: 'votes/voter', locals: { post: fav_post } %>
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to fav_post.title, topic_post_path(fav_topic, fav_post) %>
         <%= render partial: "labels/list", locals: { labels: fav_post.labels} %>
      </h4>

      <% avatar_url = fav_user.avatar_url(30) %>
        <% if avatar_url %>
          <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>

       <small>
         submitted <%= time_ago_in_words(fav_post.created_at) %> ago by <%= fav_post.user.name %> <br>
         <%= fav_post.comments.count %> Comments
       </small>

     </div>

   </div>
 <% end %>
</div>
